* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}

body {
    background-image: linear-gradient(to right bottom, #9095f6, #8d92f3, #8a8ff1, #878cee, #8489ec, #8085eb, #7d82ea, #797ee9, #7479e9, #6e74e8, #696ee8, #6369e7);
    font-size: 16px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-image: linear-gradient(to right bottom, #5c5b5b, #595858, #565555, #545353, #515050, #4f4e4e, #4d4c4c, #4b4a4a, #494848, #464646, #444444, #424242);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 14px 10px 30px rgba(0, 0, 0, 0.3);
}
    
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;

    .divider-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        .or {
            color:#5c5c5c;
            font-size: 14px;
        }

        .divider {
            width: 100%;
        
            hr {
                width: 100%;
                height: 2px;
                background-color: #696868;
                border: none;
            }
        }
    }

    .user, .pwd, .name, .surname, .cpf, .phone, .email, .birthday, .confirm-pwd, button {

        border: none;
        border-radius: 5px;
        padding: 14px;
        color: whitesmoke;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }

    .user, .pwd, .name, .surname, .cpf, .phone, .email, .birthday, .confirm-pwd {
        background-color: #3b3b3b;
    }

    .forgot-password-link {
        color: #636363;
        font-size: 14px;
        transition: color 0.3s ease;
        text-align: right;

        a {
            color: #7b8edc;

            &:hover {
                color: #627be2;
            }
        }
    }

    .enter-button, .register-button {
        cursor: pointer;
        box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.3);
    }

    .enter-button {
        background-color: rgb(113, 163, 93);
        text-decoration: none;
        text-align: center;
        
        &:hover {
            background-color: rgb(96, 156, 72);
        }
    }

    .register-button {
        background-color: rgb(109, 117, 204);
        text-decoration: none;
        text-align: center;
        
        &:hover {
            background-color: rgb(88, 98, 208);
        }
    }

    h1.title {
        color: #acabab;
        font-size: 30px;
        margin-bottom: 20px;
        text-align: center;
        text-shadow: 1px 2px 2px whitesmoke;
    }
}

.popup-error, .popup-sucess {
    position: fixed; /* Fixa o popup na tela */
    top: -100px; /* Começa fora da tela */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta para o centro */
    color: white;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    font-size: 16px;
    text-align: center;
}

.popup-error {
    background-color: #ff4d4d;
    animation: slideDownFadeIn 0.5s ease-out forwards, fadeOut 0.5s ease-in 5s forwards;
}
.popup-sucess {
    animation: slideDownFadeIn 0.5s ease-out forwards, fadeOut 0.5s ease-in 3s forwards;
    background-color: #4dff4d;
}

input:focus {
    outline: none;
}

input.valid {
    border: 2px solid green;
}

input.invalid {
    border: 2px solid red;
}

/* Animação de entrada: deslizamento para baixo e fade-in */
@keyframes slideDownFadeIn {
    0% {
        top: -100px; /* Fora da tela */
        opacity: 0; /* Invisível */
    }
    100% {
        top: 20px; /* Posição final */
        opacity: 1; /* Visível */
    }
}

/* Animação de saída: fade-out */
@keyframes fadeOut {
    0% {
        opacity: 1; /* Visível */
    }
    100% {
        opacity: 0; /* Invisível */
    }
}